<form autocomplete="off" class="websocket-token-controller flexcol">
    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="general"><i class="fas fa-keyboard"></i> {{localize "WebsocketTokenController.settings"}}</a>
    </nav>
    <section id="config-tabs" class="content">
        <div class="tab active" data-tab="general">
            <div class="settings-list">
                <div class="websocket-token-controller-settings-container">
                    {{#each playerList as |name key|}}
                    <div class="form-group">
                        <label>{{name}}</label>
                        <div class="form-fields">
                            <input type="text" name="mappings[{{key}}]" value="{{lookup ../mappings @key }}" data-dtype="String"/>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <footer class="sheet-footer flexrow">
        <button type="button" name="reset">
            <i class="fas fa-refresh"></i> {{localize "WebsocketTokenController.Reset"}}
        </button>
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "WebsocketTokenController.Save"}}
        </button>
    </footer>
</form>
