/* Mind Flayer - Token Controller Styling */

.hide-ui {
  cursor: none !important;
}

.hide-ui #ui-left {
  display: none;
}

.hide-ui #logo {
  display: none;
}

.hide-ui #navigation {
  display: none;
}

.hide-ui #controls {
  display: none;
}

.hide-ui #ui-right {
  display: none;
}

.hide-ui #sidebar {
  display: none;
}

.hide-ui #players {
  display: none;
}

.hide-ui #hotbar {
  display: none;
}

.hide-ui #token-action-hud {
  display: none;
}

.hide-ui #plutonium__backend-version {
  display: none;
}

.hide-ui .illandril-npc-quick-actions--outer-container {
  display: none;
}
