/* Mind Flayer - Token Controller Styling */

.hide-ui {
  cursor: none !important;
}

.hide-ui #ui-left {
  display: none;
}

/* ensure elments in the top ui added by other modules are positioned correctly */
.hide-ui #ui-top.offset {
  margin-left: 0;
}

.hide-ui #logo {
  display: none;
}

.hide-ui #navigation {
  display: none;
}

.hide-ui #controls {
  display: none;
}

.hide-ui #ui-right {
  display: none;
}

.hide-ui #sidebar {
  display: none;
}

.hide-ui #players {
  display: none;
}

.hide-ui #hotbar {
  display: none;
}

.hide-ui #token-action-hud {
  display: none;
}

.hide-ui #plutonium__backend-version {
  display: none;
}

.hide-ui .illandril-npc-quick-actions--outer-container {
  display: none;
}

#mindflayer-token-controller__start-timer-content .form-fields span {
  flex: 0;
}
